Django==5.0.3
djangorestframework==3.14.0
django-filter==23.5
dj-database-url==2.1.0
drf-jwt==1.19.2
whitenoise==6.6.0
psycopg2-binary==2.9.9
PyJWT==2.8.0
pytz==2024.1
gunicorn==22.0.0
sendgrid==6.11.0
unique-names-generator==1.0.2
django-log-request-id==2.1.0
requests==2.32.0
