<div class="container">
    <h5>Did your friend start a game and send you the ID? Enter it below to join the game</h5>
    <table>
        <tr>
            <td> Game ID to join: </td>
            <td><input [(ngModel)]="gameService.gameAndUser.game_id"></td>
        </tr>
        <tr>
            <td> What is your username? </td>
            <td> <input [(ngModel)]="gameService.gameAndUser.username" placeholder="username"> </td>
        </tr>
    </table>
    <br>
    <button class="btn"
            (click)="joinGame()"
            [disabled]="!gameJoinInputIsValid()">
        Join game
    </button>
</div>
