<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"
             *ngFor="let player of gameService.getPlayers()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="card-title"> {{ player.name }} </h4>
                </div>
                <div class="panel-body">
                    <p class="card-text">
                        Score: <span class="label label-default"> {{ player.score }} </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    {{ handService.getGameStatus() }}
</div>
