<div class="container-fluid">
    <div class="card card-block card-text smaller-card">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7">
                <div class="row" style="margin-left: 0px; margin-right=0px;">
                    <div class="col-auto"
                         *ngIf="handService.displayNextHandButton == true" >
                         <div *ngIf="handService.displayNextHandButton == true" style="display: inline-block; padding-top: 10px">
                             <button type="button" class="btn btn-primary btn-lg"
                                                   [disabled]="!handService.enableNextHandButton"
                                                   (click)="handService.startNextHand()">
                                 {{ handService.nextHandButtonText }}
                             </button>
                         </div>
                    </div>
                    <div class="col-5 col-sm-5 col-md-4"
                         *ngIf="handService.displayTrickConfirmationButton == true" >
                         <div style="float: left; display: inline-block;">
                             <div *ngIf="handService.displayTrickConfirmationButton == true" style="display: inline-block; padding-top: 10px">
                                 <button type="button" class="btn btn-primary btn-lg"
                                                       [disabled]="!handService.enableTrickConfirmationButton"
                                                       (click)="handService.startNextTrick()">
                                     Continue
                                 </button>
                             </div>
                         </div>
                    </div>
                    <div class="col-auto" *ngIf="handService.getGameStatus() != ''">
                        <div class="card status-message" *ngIf="handService.playersTurn">
                            <h5 style="font-weight: bold" class="card-header card-title">Your turn</h5>
                            <div class="card-block">
                                <div class="card-text">
                                    {{ handService.getGameStatus() }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-8" *ngIf="handService.getGameStatus() != ''">
                        <div class="status-message-info" *ngIf="!handService.playersTurn">
                            {{ handService.getGameStatus() }}
                        </div>
                    </div>
                </div> <!-- End sub-row -->
            </div> <!-- End first half-page col -->
            <div class="col-12 col-sm-12 col-md-5">
                <div class="center-text" style="float: left; display: inline-block;">
                    <div *ngIf="handService.trump != ''">
                        <b> Trump: </b>
                        <div class="trump {{ cardHelper.getCardClassFromTrump(handService.trump) }}"
                             style="font-size: 5em !important;"
                             [innerHTML]="cardHelper.getCardSuitSymbolFromTrump(handService.trump)"></div>
                    </div>
                </div>
                <div style="float: right; display: inline-block;">
                    <b>Playing to:</b>
                    {{ handService.pointsToPlayTo }}
                    <div style="inline-block;">
                        <app-graph-viewer></app-graph-viewer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
