.redStatus {
    color: #FFFFFF;
    background-color: #D9534F !important;
    font-weight: bold;
}

.greenStatus {
    color: #449d44 !important;
    font-weight: bold;
}

.waiting-for {
    font-style: italic;
}

.center-text {
    text-align: center;
    color: #000 !important;
}

.smaller-card {
    padding: 10px;
}
