<div *ngIf="handService.allowSelection">
    Select a card to play, then click it again to submit your choice
</div>
<div *ngIf="handService.displayTrickConfirmationButton == true">
    <button type="button" class="btn btn-default"
                          [disabled]="!handService.enableTrickConfirmationButton"
                          (click)="handService.startNextTrick()">
        Okay
    </button>
</div>

<div *ngIf="handService.displayNextHandButton == true">
    <button type="button" class="btn btn-default"
                          [disabled]="!handService.enableNextHandButton"
                          (click)="handService.startNextHand()">
        {{ handService.nextHandButtonText }}
    </button>
</div>
<div>
    <app-hand>Loading cards</app-hand>
</div>
