<div>
    <p> {{ handService.getBidMessage() }} </p>
    <div *ngIf="handService.showBidInput == true">
        <div class="btn-group" role="group" style="margin-right: 10px;">
            <button type="button" class="btn btn-secondary"
                                  [disabled]="!handService.allowBid"
                                  [class.active]="0 === handService.bid"
                                  (click)="save_bid(0)">
                Pass
            </button>
            <button type="button" class="btn btn-secondary"
                                  [disabled]="!handService.allowBid || handService.currentHighBid >= 2"
                                  [class.active]="2 === handService.bid"
                                  (click)="save_bid(2)">
                2
            </button>
            <button type="button" class="btn btn-secondary"
                                  [disabled]="!handService.allowBid || handService.currentHighBid >= 3"
                                  [class.active]="3 === handService.bid"
                                  (click)="save_bid(3)">
                3
            </button>
            <button type="button" class="btn btn-secondary"
                                  [disabled]="!handService.allowBid || handService.currentHighBid >= 4"
                                  [class.active]="4 === handService.bid"
                                  (click)="save_bid(4)">
                4
            </button>
            <button type="button" class="btn btn-secondary"
                                  [disabled]="!handService.allowBid || handService.currentHighBid >= 5"
                                  [class.active]="5 === handService.bid"
                                  (click)="save_bid(5)">
                5
            </button>
        </div>
        <button type="button" class="btn btn-primary"
                              [disabled]="!handService.allowBid || handService.bid == undefined"
                              (click)="submit_bid()">
            Submit Bid
        </button>
    </div>
    <div *ngIf="handService.showTrumpInput == true">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-light trump-selection"
                                  *ngFor="let my_trump of trumpChoices" 
                                  [class.active]="my_trump === get_trump()"
                                  [disabled]="!handService.allowTrumpSelection"
                                  (click)="save_trump(my_trump)">
                <div class="trump {{ cardHelper.getCardClassFromTrump(my_trump) }} small trump-selection-symbols"
                     [innerHTML]="cardHelper.getCardSuitSymbolFromTrump(my_trump)"></div>
                {{my_trump}}
            </button>
        </div>
        <button type="button" class="btn btn-primary" style="margin-left: 10px;"
                              [disabled]="!handService.allowTrumpSelection || handService.bidTrump == undefined"
                              (click)="submit_trump()">
            Submit trump
        </button>
    </div>
    <br>
</div>
<div>
    <app-hand>Loading cards for placing bid</app-hand>
</div>
