<div>
    <app-hand>Loading cards for placing bid</app-hand>
</div>
<div>
    <p> {{ handService.getBidMessage() }} </p>
    <div *ngIf="handService.showBidInput == true">
        <input [(ngModel)]="bid" placeholder="0">
        <button type="button" class="btn btn-default"
                              [disabled]="!handService.allowBid"
                              (click)="submit_bid()">
            Bid
        </button>
    </div>
    <div *ngIf="handService.showTrumpInput == true">
        <input [(ngModel)]="trump" placeholder="Enter your trump">
        <button type="button" class="btn btn-default"
                              (click)="submit_trump()">
            Submit trump
        </button>
    </div>
</div>
