<div class="container-fluid">
    <div class="row">
        <div class="col-auto players"
             *ngFor="let player of gameService.getPlayers(); let player_index = index">
            <div class="card" [ngClass]="{'border-primary': player.name == handService.waitingFor}">
                <h4 class="card-header card-title"> {{ player.name }} </h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item hidden-list-group"></li>
                    <li class="list-group-item team-{{handService.getTeamColorName(player_index)}}"
                        *ngIf="handService.teamsEnabled">
                        {{ handService.getTeamColorName(player_index) }} team
                    </li>
                    <li class="list-group-item">
                        Score: {{ player.score }}
                    </li>
                    <li class="list-group-item" *ngIf="player.name == handService.dealer">
                        <b>Dealer</b>
                    </li>
                    <li class="list-group-item" *ngIf="player.name == handService.highBid.username">
                        <b>Bidder</b>, bid {{ handService.highBid.bid }}
                    </li>
                    <li class="list-group-item" *ngIf="player.name != handService.highBid.username && handService.hasPlayerBid(player.name)">
                        {{ handService.getBidForPlayer(player.name) }} 
                    </li>
                    <li class="list-group-item"
                        *ngIf="handService.hasPlayerPlayedACard(player.name)"
                        [ngClass]="{'lead-card': handService.isPlayerLead(player.name)}">
                        <div>
                            <div *ngIf="handService.isPlayerLead(player.name)"><i>Lead:</i><br></div>
                            <div *ngIf="!handService.isPlayerLead(player.name)"><i>Played:</i><br></div>
                            <div class="playingCards simpleCards">
                                <div class="smearcard_status card {{ cardHelper.getCardClass(handService.getCardPlayedForPlayer(player.name)) }}" >
                                    <span class="rank">{{ cardHelper.getCardRankUpper(handService.getCardPlayedForPlayer(player.name)) }}</span>
                                    <span class="suit">{{ cardHelper.getCardSuitSymbol(handService.getCardPlayedForPlayer(player.name)) }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item"
                        *ngIf="! handService.hasPlayerPlayedACard(player.name) &&
                               ! handService.showHandResults &&
                               handService.highBid.username">
                        <div>
                            <div><i>Waiting</i><br></div>
                            <div class="playingCards simpleCards">
                                <div class="smearcard_status card back" >
                                </div>
                            </div>
                        </div>
                    </li>
                    <div *ngIf="handService.showHandResults">
                        <div *ngFor="let point of handService.getPointsWon(player.name)">
                            <div *ngIf="point == 'Was set!'" class="redStatus">
                                <li class="list-group-item redStatus">
                                    {{ point }}
                                </li>
                            </div>
                            <div *ngIf="point == 'Made bid!'" class="madeBidStatus">
                                <li class="list-group-item madeBidStatus">
                                    {{ point }}
                                </li>
                            </div>
                            <div *ngIf="point.startsWith('Won')" class="greenStatus">
                                <li class="list-group-item greenStatus">
                                    {{ point }}
                                </li>
                            </div>
                            <div *ngIf="!(point.startsWith('Won') || point == 'Was set!' || point == 'Made bid!')">
                                <li class="list-group-item">
                                    {{ point }}
                                </li>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
