<div class="container">
    <h5>Choose how many players you'd like to play with, and create a new game</h5>
    <table>
        <tr>
            <td>What is your username?</td>
            <td><input [(ngModel)]="gameService.gameAndUser.username" placeholder="username"></td>
        </tr>
        <tr *ngIf="playAgainstPeople">
            <td>How many other people will join?</td>
            <td>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" [disabled]="minHumanPlayersReached()" (click)="changePlayers(true, false)">
                            -
                        </button>
                    </span>
                    <input type="text" class="playerEntryBox" [(ngModel)]="numHumanPlayers">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" [disabled]="maxHumanPlayersReached()" (click)="changePlayers(true, true)">
                            +
                        </button>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td>How many computer players do you want to add?</td>
            <td>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" [disabled]="minComputerPlayersReached()" (click)="changePlayers(false, false)">
                            -
                        </button>
                    </span>
                    <input type="text" class="playerEntryBox" [(ngModel)]="numComputerPlayers">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" [disabled]="maxComputerPlayersReached()" (click)="changePlayers(false, true)">
                            +
                        </button>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td> Total number of players (including you):</td>
            <td> {{numPlayers}} </td>
        </tr>
        <tr>
            <td>Play with teams?</td>
            <td>
                <button type="button" class="btn btn-secondary" style="margin-right: 10px;"
                                      [class.active]="0 === gameService.numTeams"
                                      (click)="setNumTeams(0)">
                    No
                </button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary"
                                          [class.active]="2 === gameService.numTeams"
                                          (click)="setNumTeams(2)">
                        2
                    </button>
                    <button type="button" class="btn btn-secondary"
                                          [class.active]="3 === gameService.numTeams"
                                          (click)="setNumTeams(3)">
                        3
                    </button>
                    <button type="button" class="btn btn-secondary"
                                          [class.active]="4 === gameService.numTeams"
                                          (click)="setNumTeams(4)">
                        4
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Points to play to</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary"
                                          [class.active]="11 === gameService.pointsToPlayTo"
                                          (click)="setPoints(11)">
                        11
                    </button>
                    <button type="button" class="btn btn-secondary"
                                          [class.active]="15 === gameService.pointsToPlayTo"
                                          (click)="setPoints(15)">
                        15
                    </button>
                    <button type="button" class="btn btn-secondary"
                                          [class.active]="21 === gameService.pointsToPlayTo"
                                          (click)="setPoints(21)">
                        21
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <button class="btn"
            (click)="createAndJoinGame()"
            [disabled]="!gameCreateInputIsValid()">
        Create new game
    </button>
</div>
