<div class="container-fluid fg-color content-blob start-game-container">
    <div class=center>
    <div>
        <div>{{gameService.welcomeMessage}}</div>
        <p *ngFor="let player of gameService.playersSoFar"> {{player}} has joined</p>
        <div style="color: red; padding-left: 15px;"> {{gameService.errorMessage}} </div>
    </div>
    <div *ngIf="!gameService.gameIsActive">
        <div class="container-fluid">
            <h2>Welcome to Play Smear</h2>
            <p>Play the card game Smear online against the computer or friends. <a routerLink="/rules">Click here for more information and the rules of the game</a>.</p>
            <h4>How to play with friends or family</h4>
            <p>One person should go to the "Play against friends" tab and start a game. Then that person should communicate the Game ID to all the other players (via text message, the slack workspace, etc). Finally, all the other players go to the "Join an existing game" tab and enter the Game ID.
            </p>
            <h4>Find other players</h4>
            <p>To find other people to play against, consider joining our Slack workspace! Slack is a free group communication tool that in this case can be used to find other players and coordinate games.  <a href="https://join.slack.com/t/playsmear/shared_invite/zt-d785bj03-RLU~t4ZTq1Sv0jOJKM59vA">Use this invite link</a> or submit feedback (using the "Contact Us" link below) with your email address to request an invite.</p>
            <br>
            <tabset>
            <tab heading="Play against computer" active=true><div class="tab-content tab-color"><app-create-game [playAgainstPeople]=false></app-create-game></div></tab>
            <tab heading="Play against friends"><div class="tab-content tab-color"><app-create-game [playAgainstPeople]=true></app-create-game></div></tab>
            <tab heading="Join an existing game"><div class="tab-content tab-color"><app-join-game></app-join-game></div></tab>
            </tabset>
        </div>
    </div>
    </div>
</div>
