<div class="jumbotron text-center heading">
    <a href="/"><h1>Play Smear</h1></a>
</div>
<div>
    <p>{{gameService.welcomeMessage}}</p>
    <p *ngFor="let player of gameService.playersSoFar"> {{player}} has joined</p>
    <p>{{gameService.errorMessage}}</p>
</div>
<div class="container">
    <h4>Welcome to Play Smear</h4>
    <p>Play the card game Smear online against the computer or friends. <a href="/rules">Click here for more information and the rules of the game</a></p>.
    <br>
    <tabset>
        <tab heading="Play against computer" active=true><div class="tab-content"><app-create-game [playAgainstPeople]=false></app-create-game></div></tab> 
        <tab heading="Play against friends"><div class="tab-content"><app-create-game [playAgainstPeople]=true></app-create-game></div></tab> 
        <tab heading="Join an existing game"><div class="tab-content"><app-join-game></app-join-game></div></tab> 
    </tabset>
</div>
