<div class="container-fluid fg-color content-blob" style="max-width: 1500px">
    <br>
    <div class="container-fluid small-padding">
        <div class="center">
            <h3> Assign players to teams, then start the game </h3>
            <h5 *ngIf="gameService.waitingForPlayers()"> Waiting for players to join... </h5>
            <div class="container-fluid">
                <div class="row">
                <div class="card" dnd-sortable-container [dropZones]="['team-zone']" [sortableData]="gameService.playersAwaitingTeams">
                    <h6 class="card-header card-title">Not assigned to team</h6>
                    <ul class="list-group">
                        <li *ngFor="let player of gameService.playersAwaitingTeams; let i = index"
                            class="list-group-item" dnd-sortable [sortableIndex]="i" >
                                {{ player }}
                        </li>
                    </ul>
                </div>
                <div class="card"
                    *ngFor="let team of gameService.teamMembers; let team_index = index"
                    dnd-sortable-container [dropZones]="['team-zone']" [sortableData]="team">
                    <h4 class="card-header card-title">{{ gameService.getTeamColorByIndex(team_index) }} team</h4>
                    <ul class="list-group">
                        <li *ngFor="let player of team; let i = index"
                            class="list-group-item" dnd-sortable [sortableIndex]="i" >
                                {{ player }}
                        </li>
                    </ul>
                </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg"
                                  [disabled]="!gameService.readyToStartGame()"
                                  (click)="gameService.startGame()">
                Start Game!
            </button>
        </div>
    </div>
</div>
