
.players {
    padding: 0px 10px 10px 10px;
    min-width: 150px;
    max-width: 300px;
    word-break: break-word;
}

.selected {
    background-color: #FFFFC7 !important;
}

.lead-card {
    background-color: #f6f6f6 !important;
}
.redStatus {
    color: #FFFFFF;
    background-color: #D9534F !important;
    font-weight: bold;
}

.greenStatus {
    color: #449d44 !important;
    font-weight: bold;
}

.madeBidStatus {
    color: #FFFFFF;
    background-color: #449d44 !important;
    font-weight: bold;
}

.center-text {
    text-align: center;
    color: #000 !important;
}

.smaller-card {
    padding: 10px;
}

.team-Green {
    border-style: solid;
    border-width: 5px;
    border-color: palegreen;

}
.team-Blue {
    border-style: solid;
    border-width: 5px;
    border-color: skyblue;
}
.team-Salmon {
    border-style: solid;
    border-width: 5px;
    border-color: salmon;
}
.team-Plum {
    border-style: solid;
    border-width: 5px;
    border-color: plum;
}
.team-Khaki {
    border-style: solid;
    border-width: 5px;
    border-color: khaki;
}
.team-Sienna {
    border-style: solid;
    border-width: 5px;
    border-color: sienna;
}
.team-Linen {
    border-style: solid;
    border-width: 5px;
    border-color: linen;
}
.team-Cyan {
    border-style: solid;
    border-width: 5px;
    border-color: cyan;
}
